#anasayfa
{
	background-image:url(Resimler/arkaPlan.jpg);	
}

.nav
{
	background-color:black;
}

.arkaPlan
{
	background-color:#EAEDED;
}

.sayfaTasma
{
	overflow:hidden;
}

#logo
{
	margin-top:8%;
	margin-bottom:5%;
	width:15%;
}

#anaBaslik
{
	text-align:center;
	color:white;
	font-family:Cooper Black;
	font-size:400%;
	margin-bottom:2% ;
}

#anaDiv
{
	text-align:center;
	color:white;
	font-family:Cooper Black;
	font-size:100%;	
}

#hakkindaRow
{
	margin:9% 0% 10% 5%;
}

#hakkindaCol
{
	margin:0% 0% 0% 7%;
	padding:4% 3% 4% 3%;
}

.Kitaplar
{
	padding:0% 2% 0% 3%;
}

footer
{
	margin:5% 0% 0% 0%;
	background-color:black;
	color:#85C1E9;
}

.iletFooter
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

h1
{
	text-align:center;
	font-family:Bell MT;
}

header>h1
{
	margin:3% 0%;
	text-align:center;
	font-family:Bell MT;
}

table
{
	height:100%;
	width:60%;
	text-align:center;
}

#table
{
	width:100%;
	text-align:center;
}

.cv
{
	margin:1% 0%;
}

#onYazi
{
	padding:0% 0% 0% 1%;
}

.cvBilgileri
{
	text-align:left;
}

.slider
{
	margin:5% 0%;
	text-align:center;
}

#ankara 
{
	padding:0% 8% 3% 7%;
}

.ankaraResimleri
{
	margin:0% 0% 3% 3%;
}

.ankaraAciklama
{
	margin:0% 1%;
}

.heykel
{
	margin:5% 2%;
}

#anitkabirİmg
{
	margin:0% 15%;
	width:70%;
}

#anitkabirAciklama
{
	margin:5% 5%;
}

.mirasimiz
{
	margin:0% 2%;
}

.iletisim
{
	padding:3% 1% 2% 1%;
	margin:3% 3% 2% 4%;
	/*overflow:hidden;*/
	background-color:#E5E8E8;
	color:#273746;
}

.iletisimArka
{
	background-color:#F2F4F4;
}

.girisRow
{
	margin:0% 3% 0% 5%;
}

.girisCol
{
	margin:0% 5% 0% 5%;
	padding:2% 1% 1% 1%;
	background-color:#E5E8E8;
	color:#273746;
}

.girisKontrol
{
	margin:5% 5% 2% 5%; 
}

.Filmler
{
	margin:2% 0% 3% 3%;
}

#hobilerim
{
	margin:5% 3% 0% 5%
}
